<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video games</title>
    <link href="/static/style.css" rel="stylesheet"/>
</head>
<body>

<!-- Header of the page-->
<div id="documents">
    <div class="container_header">
        <div class="header_part" id="part-1">
            <div>
                <label for="document-input">Document: </label>
                <input type="search" id="document-input" placeholder="Type or select a title"/>
            </div>
            <div>
                <label for="top-k">Top-k: </label>
                <input type="number" id="top-k" min="0" value="5"/>
            </div>
        </div>
        <div class="header_part" id="part-2">
            <button onclick="queryTitle(this)">Retrieve</button>
        </div>
    </div>

    <!-- Content of the page-->
    <div class="container_content">
        <!--  Table containing all the document titles  -->
        <div class="content_part" id="part-3">
            <table class="document-table" id="table-docs">
            </table>
        </div>
        <!--  Displaying the document content  -->
        <div class="content_part" id="part-4">
            <div id="inner-text"></div>
        </div>
    </div>
</div>

<div id="loader-content">
    <div id="loader"></div>
</div>

<script>

    let documents = {{ data | tojson }};
    display_titles();

    /**
     * display_titles
     * --------------*
     * Retrieves the data from the flask input and displays the titles in the table.
     */
    function display_titles() {
        // Getting data


        let table_body = "";

        for (let i = 0; i < documents.titles.length; i++) {
            let title_ = documents.titles[i];
            // console.log(content_)
            table_body +=
                `<tr class="custom-row">` +
                    `<td onclick="select_title(this)" class="row-item">${title_}</td>` +
                `</tr>`;
        }


        document.getElementById("table-docs").innerHTML = table_body;

    }

    /**
     * select_title
     * ------------*
     * Selects a title, displays the document content and puts the name in the input field.
     * @param selected_title - the selected title
     */
    function select_title(selected_title) {
        document.getElementById("document-input").value = selected_title.innerHTML;
        document.getElementById("inner-text").innerText = documents.data_set[selected_title.innerHTML]
    }

        async function queryTitle(x) {

        // Show loader before making the fetch request
        showLoader();

        fetch("/retrieval", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                },
            body:JSON.stringify({
                title: document.getElementById("document-input").value,
                topK: document.getElementById("top-k").value
            }),
        }).then(response => {

            // Hide loader when response is received
            hideLoader();
            window.location.href = response.url; //redirecting to retrieved page
        })

    }

    function showLoader() {
        document.getElementById("loader-content").style.display = "flex";
        document.getElementById("loader").style.display = "block";
        document.getElementById("documents").style.display = "none";

    }

    function hideLoader() {
        document.getElementById("loader-content").style.display = "none";
        document.getElementById("loader").style.display = "none";
        document.getElementById("documents").style.display = "block";
    }

</script>



</body>
</html>