<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video games</title>
    <link href="/static/style.css" rel="stylesheet" />
</head>
<body>
<div>
    <input type="search" id="searchBar" placeholder="Type or choose title...">
    <button onclick="queryTitle(this)">Retrieve</button>
</div>
<div id = 'available_titles'>
    <table id='titles_table'>
        <tr><th>\Title</th></tr>

    </table>
</div>

<script>
    // Loading all game titles 
    let bodyTable = "<tr><th>Title</th></tr>";
    var flaskData = {{ data|tojson }};
    console.log(flaskData.titles);
    for (let i = 0; i < flaskData.titles.length; i++) {
        bodyTable += "<tr><td onclick =\"chooseTitle(this)\">"+ flaskData.titles[i] + "</td></tr>"
    }
    document.getElementById('titles_table').innerHTML = bodyTable;

    
    //function to use selected title as query
    function chooseTitle(x) {
        document.getElementById("searchBar").value = x.innerHTML
    }

    async function queryTitle(x) {
        console.log(document.getElementById("searchBar").value)
        // $.post("/retrieval", {
        //     query_title: document.getElementById("searchBar").value
        // })
        fetch("/retrieval", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
            body:JSON.stringify({
                title: document.getElementById("searchBar").value
            }),
            }).then(response => {
                //setTimeout(changePage(response), 3000)
                window.location.href = response.url; //redirecting to retrieved page
            })

    }

    function changePage(x){
        window.location.href = x.url;
    }
</script>


</body>
</html>