<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video games</title>
    <link href="/static/retrieved.css" rel="stylesheet"/>
</head>
<body>

<!-- Header of the page -->
<div class="header">

    <div class="title">
        <h2 id="page_title"></h2>
    </div>


    <div class="back_menu">
        <button onclick="goToMainPage()">Return to main</button>
    </div>

</div>


<!-- Content of the page -->
<div class="content">

<!--  Tables  -->
    <div class="left-content">

<!--    Comparison table    -->
        <div id='available_titles'>
            <table id='comparison_table'>
                <tr>
                    <th>VSM</th>
                    <th>BM25</th>
                    <th>BERT</th>
                </tr>
            </table>
        </div>

<!--    Evaluation tables    -->
        <table>
            <tr>
                <th>Algorithm</th>
                <th>Recall</th>
                <th>Precision</th>
                <th>Average Precision</th>
                <th>Runtime (seconds)</th>
            </tr>
            <tr>
                <td>VSM</td>
                <td id="recall_VSM"></td>
                <td id="p_VSM"></td>
                <td id="ap_VSM"></td>
                <td id="rt_VSM"></td>
            </tr>
            <tr>
                <td>BM25</td>
                <td id="recall_BM25"></td>
                <td id="p_BM25"></td>
                <td id="ap_BM25"></td>
                <td id="rt_BM25"></td>
            </tr>
            <tr>
                <td>BERT</td>
                <td id="recall_BERT"></td>
                <td id="p_BERT"></td>
                <td id="ap_BERT"></td>
                <td id="rt_BERT"></td>
            </tr>
        </table>

    </div>

<!--  Document info overview  -->
    <div class="right-content">
        <div id="inner-text"></div>
    </div>


</div>


<div>

</div>
<script>
    let bodyTable = "<tr><th>VSM</th><th>BM25</th><th>BERT</th></tr>";
    var flaskData = {{ data | tojson}};

    document.getElementById('page_title').innerText = 'Retrieved titles by the different retrieval methods for title ' +
        '\'' + flaskData.title + '\''

    console.log(flaskData);
    for (let i = 0; i < flaskData.vms_res.length; i++) {
        let title_VSM = flaskData.vms_res[i];
        bodyTable += '<tr>' + `<td onclick="select_title(this)" class="row-item">${title_VSM}</td>`
        let title_BM = flaskData.bm_res[i];
        bodyTable += `<td onclick="select_title(this)" class="row-item">${title_BM}</td>`
        let title_BERT = flaskData.bert_res[i];
        bodyTable += `<td onclick="select_title(this)" class="row-item">${title_BERT}</td>` + '</tr>'
    }
    document.getElementById('comparison_table').innerHTML = bodyTable;

    console.log(flaskData.vsm_eval)

    document.getElementById('recall_VSM').innerText = flaskData.vsm_eval.recall
    document.getElementById('p_VSM').innerText = flaskData.vsm_eval.precision
    document.getElementById('ap_VSM').innerText = flaskData.vsm_eval.AP
    document.getElementById('rt_VSM').innerText = flaskData.timeVSM

    document.getElementById('recall_BM25').innerText = flaskData.bm25_eval.recall
    document.getElementById('p_BM25').innerText = flaskData.bm25_eval.precision
    document.getElementById('ap_BM25').innerText = flaskData.bm25_eval.AP
    document.getElementById('rt_BM25').innerText = flaskData.timeBM

    document.getElementById('recall_BERT').innerText = flaskData.bert_eval.recall
    document.getElementById('p_BERT').innerText = flaskData.bert_eval.precision
    document.getElementById('ap_BERT').innerText = flaskData.bert_eval.AP
    document.getElementById('rt_BERT').innerText = flaskData.timeBERT

    function goToMainPage() {
        window.location.href = '/';
    }

    function select_title(selected) {
        document.getElementById('inner-text').innerText = flaskData.data_set[selected.innerHTML];
    }
</script>
</body>
</html>