<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video games</title>
    <link href="/static/style.css" rel="stylesheet" />
</head>
<body>
<p>Retrieved</p>
<div id = 'available_titles'>
    <table id='comparison_table'>
        <tr>
            <th>VSM</th>
            <th>BM25</th>
            <th>BERT</th>
        </tr>

    </table>
</div>

<script>
    let bodyTable = "<tr><th>VSM</th><th>BM25</th><th>BERT</th></tr>";
    console.log("HIERR")
    var flaskData = {{ data|tojson }};
    console.log(flaskData);
    for (let i = 0; i < flaskData.vms_res.length; i++) {
        bodyTable += "<tr><td>"+ flaskData.vms_res[i] + "</td>"
        bodyTable += "<td>"+ flaskData.bm_res[i] + "</td>"
        bodyTable += "<td>"+ flaskData.bert_res[i] + "</td></tr>"
    }
    document.getElementById('comparison_table').innerHTML = bodyTable;
</script>


</body>
</html>